@import "../../styles/breakpoints";

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: #e1e0e8;

    span {
      color: #313a46;
    }
    .menu-item__icon {
      color: #313a46;
    }
  }

  .menu-item__icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(236, 236, 236);
  }

  span {
    color: rgb(236, 236, 236);

    padding: 0px 10px;
    font-size: 1.1rem;
  }
}
