.card {
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    padding: 10px;
  }
  
  .title {
    font-size: 1rem;
   margin: 5px;
  }
  
  .category {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 5px;
  }
  .price{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 5px;
  }
  
  .button {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.75rem 0;
    background: transparent;
    text-transform: uppercase;
    border: 2px solid black;
    cursor: pointer;
    margin: 5px;
  }
  
  .button:hover {
    background: black;
    color: white;
  }