

.navbar {
  background-color: rgb(18, 18, 73);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 20;
  color: white;
}

.navbar__container {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 80px;
  /* max-width: 1500px; */
}

.mainContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar__logo {
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-right: auto;
}

.navbar__menu {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.navbar__links {
  color: rgb(255, 255, 255);

  text-decoration: none;
  padding: 0.5rem;
  height: 100%;
  border-bottom: 3px solid transparent;
}


.navbar__search{
  background-color: #f5b921;
display: flex;
position: relative;
justify-content: left;
align-items: center;
  width: 50%;
  height: 40%;
  border-radius: 15px;
 

}
.navbar__search__input{

  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;

}
.navbar__search__icon {
  background-color: #f5b921;
  position:absolute;
  right: 0px;
  margin: auto;
  font-size: 2rem;
  border-radius: 0 5px 5px 0;


}


.navbar__item {
  line-height: 40px;
  margin-right: 1rem;
}

.navbar__item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.5s ease, background-color 0.4s ease;
}

.navbar__item:hover:after {
  width: 100%;
  background: #ffdd40;
}

.navbar__item.active {
  color: #ffdd40;
  border: 1px solid #ffdd40;
}

.navbar__icon {
  display: none;
}

@media screen and (max-width: 960px) {

  .navbar__menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #fff;
    position: absolute;
    top: 50px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .navbar__search{
    background-color: #f5b921;
  display: flex;
  position: relative;
  justify-content: left;
  margin-right: auto;
  align-items: center;
    width: 50%;

    height: 40%;
    border-radius: 15px;
   
  
  }
  .navbar__search__input{
  
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  
  }
  .navbar__search__icon {
    background-color: #f5b921;
    position:absolute;
    right: 0px;
    margin: auto;
    font-size: 2rem;
    border-radius: 0 5px 5px 0;
  
  
  }

  .navbar__menu.active {
    background: rgb(18, 18, 73);
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .navbar__item .active {
    color: #ffdd40;
    border: none;
  }

  .navbar__links {
    padding: 1.5rem;
    width: 100%;
  }

  .navbar__icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #ffdd40;


  }

}